.flex-container {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  justify-content: center;
  text-align: center;
}

.flex-form-fields {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-container > div {
  margin: 10px;
}

.mat-table {
  overflow: auto;
  height: 300px;
}

.form-field-width {
  width: 130px;
}
